.shipping-request {
    text-align: start;
    background-color: #3A4F40;
    height: 100vh;
    color: #ffffff;
    padding-top: 63px;
    padding-left: 44px;
    padding-right: 49px;
    font-family: RubikRegular sans-serif;
    line-height: 28px;
}

.shipping-form h2 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.shipping-form div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.shipping-form p {
    margin-bottom: 0;
}
