form{
    background-color: #F5F5F5;
}

form p{
    font-size: 12px;
    color: grey;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgray;
  }

